.form_container{
    width:100%
}
.form{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
    margin-top:10%
}
.button{
    width:30%;
    height:30px;
    margin-left:30%;
    margin-top:20px;
    font-size: 20px;
}
input[type=file]{
    width:100%;
    
    margin-left:300px
}
input[type=text]{
    justify-content: space-between;
    margin-left:5px;
    margin-right:5px
}
.description{
    width:95%
}